<h1>All Available Products</h1>
<br>
<% @all_products.each do |product| %>
  <h2><%= product.name %></h2><br>
  <img src="<%= product.image %>"><br>
  <h3><%= product.description %></h3><br>
  <h3>$<%= product.price %></h3><br>
  <a href= "http://localhost:3000/products/<%= product.id %>">Go To Product Page</a> 
  <br>
<% end %>`` `   
