<h1>All Available Products</h1>

<div class="row">
  <br />
</div>

<div class="row">
  <div class="col-md-10">
  </div>
  <div class="col-md-2">
    <div class="btn-group">
      <button type="button" class="btn btn-default">Filter Results</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <% Category.all.each do |category| %>
          <li><a href="/products?category=<%= category.name %>">Show <%= category.name %></a></li>
        <% end %>
          <li role="separator" class="divider"></li>
          <li><a href="/products">Show All Products</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
 <br />
</div>

<% @all_products.each_slice(4) do |product_row| %>
  <div class="row">
    <% product_row.each do |product| %>
      <div class="col-md-3">
        <div class="products_well">
          <img src="<%= product.images.first.src %>" width=100%>
          <h1><a href= "/products/<%= product.id %>"><%= product.name %></a></h1>
          <p>Price: <%= number_to_currency(product.price) %></p>
          <p><%= product.sale_message %></p>
          <p>Description: <%= product.description %></p>
        </div>
      </div>
    <% end %>
  </div
<% end %>