<img src="<%= @product.image %>" width=300><br>
<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>
<p>Sales Tax: <%= number_to_currency(@product.tax) %></p>
<p>Total: <%= number_to_currency(@product.total) %></p>
<a href = "/products/<%= @product.id %>/edit">Edit This Product</a><br>
<%= link_to "Delete This Product", "/products/#{@product.id}", method: :delete %>
