<% @product.images.each do |image| %>
  <img src="<%= image.src %>" width=300><br>
<% end %>
<h1><%= @product.name %></h1>
<h4>Supplied By: <%= @product.supplier.name %></h4>
<p><%= @product.description %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>
<p>Sales Tax: <%= number_to_currency(@product.tax) %></p>
<p>Total: <%= number_to_currency(@product.total) %></p>
<a href = "/products/<%= @product.id %>/edit">Edit This Product</a><br>
<a href = "/images/<%= @product.id%>/new">Add Image For This Product</a><br>
<%= link_to "Delete This Product", "/products/#{@product.id}", method: :delete %>

<h4>Buy This Product</h4>
<%= form_tag "/orders", method: :post do %>
  <div>
    <%= label_tag :quantity, "Quantity: " %>
    <%= text_field_tag :quantity %>
  </div>
  <div>
    <%= label_tag :product_id, "Product ID: " %>
    <%= text_field_tag :product_id %>
  </div>
  <div>
    <%= submit_tag "Buy Now" %>
  </div>
<% end %>